@model IngredientsBowl;

@{
    ViewData["Title"] = "Your Pizza";
}

<div class="text-center">
    <h1 class="display-5 my-5">You receive some pizza topped with the following ingredients:</h1>
    @foreach (var ingredient in Model.Ingredients)
    {
        <p class="lead">@ingredient.GetDescriptor()</p>
    }
</div>
